@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body,
header {
    background-color: #EBEBEB !important;
}

body {
    font-family: 'Open Sans' !important;
}

.seccion-header {
    max-width: 1300px;
    margin: auto;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.sub-container1-header {
    font-size: 32px;
    font-family: 'Oleo Script', cursive;
    color: #F2463D;
}

.container-menu {
    display: flex;
}

.a-menu-links {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px 15px 0px;
    transition: transform 550ms;
}

.a-menu-links:hover {
    background-color: #444444;
    color: #FFF;
    font-weight: bold;
    transform: scale(1.1);
}

.container-principal-s1 {
    display: flex;
    justify-content: space-between;
}

.seccion1 {
    background-color: #FFF;
    max-width: 1300px;
    margin: auto;
    padding: 40px 60px;
    border-radius: 5px;
    border-bottom: 1px solid #E7E7E7;
}

.sub-container1-p h1 {
    font-weight: 800;
    font-size: 52px;
    color: #454545;
}

.sub-container1-p p {
    max-width: 430px;
    font-size: 26px;
    font-weight: 300;
    color: #454545;
}

.button1-s1 {
    width: 400px;
    display: block;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: left;
    font-weight: 800;
    background-color: #1591C3;
    border: none;
    border-radius: 10px;
    height: 70px;
    padding-left: 20px;
    color: #FFF;
    transition: transform 250ms;
}

.button1-s1:hover {
    transform: scale(1.1);
}

#train {
    position: relative;
    cursor: pointer;
}

#train2 {
    position: relative;
    cursor: pointer;
}

.img-button {
    transition: transform 250ms;
}

.button2-s1 {
    width: 400px;
    display: block;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: left;
    font-weight: 800;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    height: 70px;
    padding-left: 20px;
    color: #56514B;
    transition: transform 250ms;
}

.button2-s1:hover {
    transform: scale(1.1);
}

.seccion2 {
    max-width: 1300px;
    margin: 50px auto;
}

.sub-container1-s2 .card {
    max-width: 400px;
    width: 100%;
}

.sub-container1-s2 .card-title {
    font-weight: 800;
    margin-top: -35px;
    margin-left: 15px;
}

.sub-container1-s2 .card-text {
    color: #454545;
    font-family: 'Open Sans';
}

.card-p1-s2 {
    font-weight: 800;
}

.card-p2-s2 {
    font-weight: 300;
}

.seccion3 {
    background-color: #FFF;
    border-bottom: 2px solid #E9E9E9;
}

.container-principal-s3 {
    max-width: 1300px;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
}

.sub-container1-p-s3 {
    width: 100%;
    margin: 50px 80px 50px 0px;
}

.sub-container1-p-s3 h3 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    color: #404242;
    margin-bottom: 15px;
}

.p-s3-row1 {
    width: 350px;
}

.sub-container1-p-s3 .card {
    max-width: 150px;
    width: 100%;
    margin: 10px 0px;
}

.p-s3-button1 {
    margin-top: 30px;
    background-color: #1591C4;
    font-weight: 800;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    transition: margin-top 250ms;
    will-change: margin-top;
}

.p-s3-button1:hover {
    transform: scale(1.1);
    margin-top: 15px;
    background-color: #1f99c9;
    color: #000;
    padding: 0px 20px;
}

.p-s3-img-button1 {
    width: 20px;
    height: 20px;
}

.sub-container2-p-s3 {
    margin-top: 50px;
}

.sub-container2-p-s3 h1 {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #404242;
    margin-bottom: 15px;
}

.sub-container2-p-s3 p {
    font-weight: 400;
    font-size: 18px;
    color: #969599;
    line-height: 42px;
    margin-bottom: 50px;
}

.p-s3-button2 {
    margin-top: -10px;
    background-color: #1591C4;
    font-weight: 800;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    transition: margin-top 250ms;
    will-change: margin-top;
}

.p-s3-button2:hover {
    transform: scale(1.1);
    margin-top: 15px;
    background-color: #1f99c9;
    color: #000;
    padding: 0px 20px;
}

.p-s3-img-button2 {
    width: 20px;
    height: 20px;
}

.container-footer {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.sub-container1-footer ul,
.sub-container2-footer ul,
.sub-container3-footer ul,
.sub-container4-footer ul {
    list-style: none;
}

.sub-container4-footer ul {
    margin: 0px;
    padding: 0px;
}

.title-list-footer {
    font-weight: 800;
    font-size: 24px;
    color: #464445;
    margin-bottom: 30px;
}

.p-list-footer {
    text-decoration: underline;
    color: #888892;
    margin-bottom: 10px;
}

.container-networks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container-networks a {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0px 10px;
    background-color: #565656;
}

.container-networks a img {
    width: 25px;
    height: 25px;
    margin: 7.5px;
    display: block;
}

.sub-container4-footer p {
    margin-left: 15px;
    color: #676B86;
}

.container2-footer {
    text-align: center;
    color: #676B86;
    opacity: 0.7;
    padding-bottom: 70px;
}

@media only screen and (max-width: 1008px) {
    body,
    html {
        overflow-x: hidden;
    }
    .container-principal-s1 {
        display: block;
    }
    .a-menu-links {
        display: none;
    }
    .sub-container1-header p {
        margin-left: 20px;
    }
    .icon-menu {
        display: block !important;
        margin-left: 50px;
    }
    .icon-menu img {
        margin-right: 50px;
        margin-top: 20px;
    }
    .seccion1 {
        padding: 20px 15px;
    }
    .sub-container1-p {
        text-align: center;
    }
    .sub-container1-p p,
    .button1-s1,
    .button2-s1 {
        margin: 10px auto;
    }
}